{% extends "base.html" %}
{% block title %}Easy A - Questions{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="row" ng-controller="QuestionsController as questions">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control" ng-model="questions.tagFilter" placeholder="Search Tags"
                           ng-model-options="{ debounce: 750}" ng-change="questions.filter()" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Calc 3 questions</h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10">Quick description</div>
                                <div class="col-md-2">$20.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Calc 3 questions</h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10">Quick description</div>
                                <div class="col-md-2">$20.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Calc 3 questions</h3>
                        </div>

                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-10">Quick description</div>
                                <div class="col-md-2">$20.00</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}