<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>

    {% load staticfiles %}

    <!-- Import Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-cookies.min.js"></script>

    <!-- Import jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <!-- Import Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Load custom CSS files last to win race conditions -->
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}"/>

    <!-- Load Angular app.js -->
    <script src="{% static 'scripts/app.module.js' %}"></script>
    <script src="{% static 'scripts/core/navbar/navbarController.js' %}"></script>
    <script src="{% static 'scripts/core/navbar/navbarDirective.js' %}"></script>
    <script src="{% static 'scripts/core/navbar/navbarService.js' %}"></script>
    <script src="{% static 'scripts/components/security/securityService.js' %}"></script>
    <script src="{% static 'scripts/components/questions/questionsController.js' %}"></script>
    <script src="{% static 'scripts/components/questions/questionController.js' %}"></script>
    <script src="{% static 'scripts/components/questions/questionsService.js' %}"></script>
    <script src="{% static 'scripts/components/questions/questionDirective.js' %}"></script>
</head>
<body ng-app="easyA">
    <div navbar></div>
    <div class="container-fluid">
        {% block content %}{% endblock %}
    </div>
</body>
</html>